
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/myprojectlayoutstyles.cshtml";
}
@section style{
    <link href="~/Content/indexstyle.css" rel="stylesheet" /> 
    }

<div class="section2">
    <div class="sotun1">
    </div>
    <div class="sotun2">
        <div class="imag1"><img src="~/Content/ax/b1.png"></div>
        <div class="imag1"><img src="~/Content/ax/b2.png"></div>
        <div class="imag1"><img src="~/Content/ax/b3.png"></div>
    </div>
</div>
<div class="section3">
    <div><a>پیشنهاد روز فروشگاه</a></div>
    <div class="imag2"><img src="~/Content/ax/a6.png"><a>120000تومان</a></div>
    <div class="imag2"><img src="~/Content/ax/a7.png"><a>150000تومان</a></div>
    <div class="imag2"><img src="~/Content/ax/a8.png"><a>180000تومان</a></div>
    <div class="imag2"><img src="~/Content/ax/a9.png"><a>1240000تومان</a></div>
    <div class="imag2"><img src="~/Content/ax/a10.png"><a>190000تومان</a></div>
    <div class="imag2"><img src="~/Content/ax/a11.png"><a>110000تومان</a></div>
</div>
<div class="section4">
    <div><a>پر تخفیف ترین ها</a></div>
    <div class="imag3"><img src="~/Content/ax/a12.png"><a>1450000تومان</a></div>
    <div class="imag3"><img src="~/Content/ax/a13.png"><a>1650000تومان</a></div>
    <div class="imag3"><img src="~/Content/ax/a14.png"><a>100000تومان</a></div>
    <div class="imag3"><img src="~/Content/ax/a15.png"><a>1230000تومان</a></div>
    <div class="imag3"><img src="~/Content/ax/a16.png"><a>159000تومان</a></div>
    <div class="imag3"><img src="~/Content/ax/a17.png"><a>1650000تومان</a></div>
</div>


