
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/myprojectlayoutstyles.cshtml";
}
<h2 style="text-align:center;">ورود</h2>
<div style="height:250px;text-align:center;margin:50px;">
    @using (Html.BeginForm())
    {

        @Html.ValidationSummary()
        <lable>نام کاربری:</lable> <input type="text" name="txtUsername" />
        <br><br>
        <lable>رمز عبور:</lable> <input type="password" name="txtPassword" />

        <input type="submit" value="ورود" />

    }

</div>

